---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html
            page_title="Projects | Brian Chuk"
            image_preview="/res/img/brian-chuk-preview.png"
            url=page.url
            theme_color="#fff"
        %}
        <link rel="stylesheet" href="/res/css/projects.css"/>
    </head>
    <body>
        {% include header.html %}
        <div class="page-title">
            <div class="wide-content-wrapper">
                <aside>PROJECTS</aside>
            </div>
        </div>
        <div class="fade-content">
            <section class="dark-gray-bg">
                <div id="projects" class="thin-content-wrapper">
                    {% for post in site.projects reversed %}
                        <figure class="{{ post.thumbnail_size }}"
                                style="background-image:url({{ post.thumbnail }})">
                            {% if post.thumbnail_size == 'half-img' %}
                                <img src="/res/img/Flight.png"></img>
                            {% elsif post.thumbnail_size == 'full-img' %}
                                <img src="{{ post.thumbnail }}"></img>
                            {% endif %}
                            <figcaption>
                                <h2>{{ post.title }}</h2>
                                <a href="{{ post.url }}"></a>
                            </figcaption>
                        </figure>
                    {% endfor %}
                    <!-- <figure class="full-img">
                        <img src="/res/img/Flight.png"></img>
                        <figcaption>
                            <h2>The Battle of IvenChuk</h2>
                            <a href="http://www.google.com"></a>
                        </figcaption>
                    </figure> -->
                    <figure class="half-img"
                            style="background-image:url(/res/img/projects/project-archive.png)">
                        <img src="/res/img/Flight.png"></img>
                        <figcaption>
                            <h2>Project Archive</h2>
                            <a target="_blank" href="http://brianch.uk/devchukV2/projects" onclick="return oldSiteWarning();"></a>
                        </figcaption>
                    </figure>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            function oldSiteWarning() {
                return confirm("Hey! This will take you to an older version of my website. Most of these are hackathon projects and have terrible code quality. Are you sure you'd like to continue?"
                );
            }
        </script>
        {% include body.html %}
    </body>
</html>