---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/res/css/project_post.css"/>
    </head>
    <body>
        {% include header.html 
            exitText="Close Project"
            exitLink="/projects"
        %}
        <div class="page-title">
            <div class="wide-content-wrapper">
                <aside>PROJECTS</aside>
            </div>
        </div>
        <div class="fade-content">
            <section class="dark-gray-bg">
                <div class="article-content-wrapper">
                    <div id="title">Parrot</div>
                    <p>
                        Save written content online and then speedread it. Parrot is a multiplatform app that uses a Chrome extension to send interesting articles one chooses to the app. Once saved, the app then flashes words one at a time for the user to read.
                    </p>
                    <div class="details">
                        <div>
                            <label>HACKATHON</label>
                            <div>McHacks II</div>
                        </div>
                        <div>
                            <label>ROLE</label>
                            <div>Full-stack</div>
                        </div>
                        <div>
                            <label>PLATFORMS</label>
                            <div>Android, iOS, Android Wear</div>
                        </div>
                        <div>
                            <label>STATUS</label>
                            <div>Dormant</div>
                        </div>
                    </div>
                    <div id="content">
                        <img src="/res/img/Flight.png">
                        <p>
                            Unfortunately, it often takes an extreme event to trigger that moment. You get hurt, or your hurt someone else, or you lose something important, and suddenly everything is clear. You know undoubtedly that you need to change, and so you do. But what if it didn’t require something bad to spur something good in our lives? What if we could skip the “last straw” moment entirely and still reach the same positive results?
                        </p>
                        <p>
                            It’s a question Cesar Kuriyama, creator of the “1 Second Everyday” app, has always pondered. On the NTMY Show podcast, Cesar recalls when his friend’s uncle died of lung cancer. It was what finally made his friend decide to stop smoking. He put down his cigarette that day and never picked it up again.
                        </p>
                        <p>
                            “I’m obsessed with how you get someone to go through that transformation,” says Cesar. “To trigger that without actually hitting rock bottom first.”
                        </p>
                        <p>
                            The question is tough, because why would we change if we didn’t have a strong reason to? What’s motivating us? Perhaps if it’s not a specific event that triggers a transformation, then the change needs to be internally driven, instead of external.
                        </p>
                        <p>
                            Some people have strong personal standards. They know who they are, who they want to be and what they deserve. Others have less clearly defined boundaries. Without that internal guide, it’s easier to become complacent or resigned to a situation or habit. You draw your line in the sand only after you’ve already crossed it. Ennui tacos dreamcatcher, synth kale chips fashion axe pour-over hell of gentrify banh mi 3 wolf moon direct trade. Letterpress disrupt photo booth bitters intelligentsia polaroid. ABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZABCDEFGHIJKLMNOPQRSTUVWXYZ
                        </p>
                        <p>
                            After 2 months I noticed that I had $1000 more on my bank account. Yes, that’s a lot, but do the math and you notice it’s not that much.
                        I live in New York. In order to spend $1000 on alcohol I only have to spend $33 everyday. Assume that I have 2–3 cocktails every other day (which are $10 each without tip), including some wine bottles every month for at home I can easily spend $1000.
                        </p>
                        <p>
                            Some might think that this is heavy alcoholism, but trust me when I say that having 1–2 drinks everyday in New York is more than normal.
                        </p>
                        <p>
                            Also, going out drinking means that the occasional dinner & snacks are more frequent. You don’t just drink, you get hungry and buy some food. And before you noticed it, you spend $1000.
                        </p>
                        <img src="http://www.vanschneider.com/wp-content/uploads/2016/02/1cZOjMWc7tchlQTZ1Ly9EZg_1200w.jpeg">
                        <p>
                            “Let’s go for a drink” is so engraved in our lives, because who says “Hey, let’s just meet up as sober people and talk about stuff” — Why the fuck would you do that? “Let’s get a drink” needs no explanation. It’s a thing, everyone knows what happens next.
                        </p>
                    </div>
                    <div class="navigation">
                        <span>PREVIOUS PROJECT</span>
                        <span>NEXT PROJECT</span>
                    </div>
                </div>
            </section>
        </div>
        {% include body.html %}
    </body>
</html>
