---
---

//
// IMPORTS //
//
@import 'main';


html {
    color: $black;
    background-color: $white;
}

.border-top, .border-left, .border-right {
    background-color: $black;
}

.fade-content {
    border: 19px solid $black;
}

.white-bg {
    padding-bottom: 1.35vw;
}

#title {
    font-size: 4.28vw;
    line-height: 4.75vw;
    margin-top: -0.21em;
    padding-bottom: 0.5em;

    @media only screen and (max-width: 932px) {
        font-size: 40px;
        line-height: 45px;


    }
}

.page-title aside, section:first-child {
    padding-top: 10.5vw;
}


@media only screen and (max-width: 1300px) {
    aside {
        display: none;
    }
}

.details {
    padding-bottom: 0.8em;

    span:last-child {
        float: right;
    }
}

.details:last-of-type {
    padding-bottom: 0;
    padding-top: 5.35vw;
    color: $black;
}

#content {
    font-family: 'Lyon Text';

    > p:first-of-type {
        font-size: 30px;
        line-height: 1.5em;

        @media only screen and (max-width: 932px) {
            font-size: 25px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Circular';
    }

    h1 { font-size: 2.3em; }
    h2 { font-size: 1.8em; }
    h3 { font-size: 1.47em; }
    h4 { font-size: 1.42em; }
    h5 { font-size: 1.13em; }
    h6 { font-size: 1.05em; }

    blockquote {
        font-family: 'Lyon Display';
    }
}

.thin-content-wrapper {
    display: flex;
    flex-flow: row wrap;

    #blog-posts {
        flex: 0 0 auto;
        flex-basis: 66.66%;
        width: 66.66%;
        max-width: 66.66%;
        padding-right: 10px;

        display: flex;
        flex-flow: row wrap;

        a {
            color: $black;
        }

        article:first-of-type, article:first-of-type + article {
            margin-bottom: 40px;
        }

        article {
            flex: 0 0 auto;
            flex-basis: 50%;
            width: 50%;
            max-width: 50%;
            padding-right: 10px;
            font-size: 22px;

            figure {
                overflow: hidden;
                margin-bottom: 10px;
                
                img {
                    width: 100%;
                    margin: -11% 0;
                }
            }

            div {
                padding-left: 10%;
                padding-right: 10%;
                text-align: center;
                line-height: 1.2em;
                min-height: 3.74vw;
            }

            @media only screen and (max-width: 720px) {
                flex-basis: 100%;
                width: 100%;
                max-width: 100%;
                font-size: 30px;
                margin-bottom: 20px;

                @media only screen and (max-width: 480px) {
                    font-size: 22px;
                }
            }
        }

        @media only screen and (max-width: 1300px) {
            flex-basis: 100%;
            width: 100%;
            max-width: 100%;
            padding-right: 0;
        }
    }

    #side-info {
        flex: 0 0 auto;
        flex-basis: 33.33%;
        width: 33.33%;
        max-width: 33.33%;
        padding-left: 10px;
        color: white;

        .lyon {
            font-size: 1.23vw;
            line-height: 1.5em;
        }

        > div {
            padding: 1.6vw 2.51vw 2.35vw;
            margin-bottom: 2.13vw;
            background-color: $black;

            > div:first-child {
                margin-top: 0.4vw;
            }
            > div:last-child {
                margin-top: 3vw;
            }

            @media only screen and (min-width: 1609px) {
                padding: 26px 40px 38px;
                margin-bottom: 34px;

                > div:first-child {
                    margin-top: 6px;
                    font-size: 20px;
                    line-height: 22px;

                }
                > div:last-child {
                    margin-top: 48px;
                }
            }
        }

        @media only screen and (max-width: 1300px) {
            flex-basis: 100%;
            width: 100%;
            max-width: 100%;
            padding-left: 0;
            padding-top: 5.35vw;
            
            .lyon {
                font-size: 22px;
            }
        }

        @media only screen and (max-width: 780px) {
            display: none;
        }
    }
}

@media only screen and (min-width: 781px) {
    #mailing-list-cta {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    section.light-gray-bg {
        padding-bottom: 5.35vw;
    }
}