---
---

//
// IMPORTS //
//
@import 'reset';
@import 'variables';

// general

html, .dark-gray-bg {
    color: white;
    background-color: $darkGray;
}

html {
    font-family: 'Circular';
}

a {
    text-decoration: none;
}

canvas {    
    position: fixed;
}

#twoDimCanvas {
    background-color: $darkGray;
    z-index: -50;
    display: none;
    // TODO: FIX RESPONSIVENESS FOR ANIMATION
}

.transparent-bg {
    background-color: unset;
}

.light-gray-bg {
    color: $black;
    background-color: $lightGray;
}

.section-title {
    font-family: 'Blender Pro';
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.fade-content {
    border: 19px solid #fff;
    display: block;
}

section {
    padding-top: 5.35vw;
    padding-bottom: 5.35vw;
}

.wide-content-wrapper {
    // width: 1630px;
    width: 87vw;
    margin: 0 auto;

    @media only screen and (max-width: 780px) {
        width: 80vw;
    }
}

.thin-content-wrapper {
    // width: 1396px;
    width: 74.6vw;
    margin: 0 auto;
    overflow: hidden;
}

.action {
    padding-top: 50px;
    font-family: 'Blender Pro';
    font-weight: 700;
    font-size: 24px;
    // font-size: 1.3vw;
    text-transform: uppercase;
}

// custom

#full-name-title {
    // font-size: 144px;
    // padding-top: 40px;
    margin-left: -0.08em;

    font-size: 7.7vw;
    padding-top: 2.14vw;
}

#short-bio {
    // font-size: 64px;
    margin-left: -0.08em;
    padding-top: 50px;
    width: 775px;
    // line-height: 85px;


    font-size: 3.4vw;
    width: 41.4vw;
    line-height: 4.5vw;


    p {
        padding-top: 1.2em;

        a {
            color: $gray;
        }

        span {
            color: $red;
        }
    }

    @media only screen and (max-width: 966px) {
        font-size: 3.4vw;
        width: 70vw;
    }
}

#featured-post, #side-posts {
    width: 50%;
}

#featured-post {
    float: left;

    div {
        font-family: 'Circular';
        font-size: 35px;
        margin-top: 32px;
    }

    img {
        width: 672px;
    }
}

#side-posts {
    float: right;

    article {
        margin-bottom: 11px;

        img, span {
            vertical-align: middle;
        }

        img {
             width:213px;
        }

        span {
            float: right;
            width: 60%;
            font-size: 29px;
            margin-left: 18px;
            margin-top: 60px;
        }
    }

    .action {
        padding-top: 37px;
    }
}

#projects {
    
    img {
        // padding: 10px;
    }

    .half-image {
        // width: 789px;
        width: 49.9%;

    }

    .full-image {
        // width: 1630px;
        // width: 74.33vw;
        width: 100%;
    }
}