---
---

//
// IMPORTS //
//
@import 'main';
@import 'post';


html {
    color: $white;
    background-color: $darkGray;
}

.border-top, .border-left, .border-right {
    background-color: $white;
}

.fade-content {
    border: 19px solid $white;
}

.article-content-wrapper {
    .date {
        padding-bottom: 0.8em;
    }

    #desc {
        font-size: 30px;
        line-height: 1.5em;
        padding-bottom: 1.5em;

        @media only screen and (max-width: 932px) {
            font-size: 25px;
        }
    }

    .details {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 2.5em;


        > div {
            flex: 0 0 auto;
            flex-basis: 25%;
            width: 25%;
            max-width: 25%;

            label {
                font-family: "Blender Pro";
                text-transform: uppercase;
                font-size: 21px;
                line-height: 25px;
            }

            > div {
                color: $gray;
                max-width: 153px;
                font-size: 16px;
                line-height: 23px;
            }

            @media only screen and (max-width: 530px) {
                flex-basis: 100%;
                width: 100%;
                max-width: 100%;
                padding-bottom: 2em;
            }
        }
    }
}

#content code.highlighter-rouge {
    background: $gray;
    color: $white;
}
