---
---

//
// IMPORTS //
//
@import 'main';


html {
    color: $white;
    background-color: $darkGray;
}

.border-top, .border-left, .border-right {
    background-color: $white;
}

.fade-content {
    border: 19px solid $white;
}

.thin-content-wrapper {
    display: flex;
    flex-flow: row wrap;

    figure {
        flex: 0 0 auto;
        position: relative;
        margin-bottom: 0.5vw;
        padding-left: 0.25vw;
        padding-right: 0.25vw;

        img {
            width: 100%;
        }

        h2 {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 50px;
            margin-left: 50px;

            font-family: 'Blender Pro';
            font-weight: 700;
            text-transform: uppercase;
        }

        figcaption, figcaption > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .full-img {
        flex-basis: 100%;
        width: 100%;
        max-width: 100%;

    }

    .half-img {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
    }


}