---
---

//
// IMPORTS //
//
@import 'main';


html {
    color: $white;
    background-color: $darkGray;
}

.border-top, .border-left, .border-right {
    background-color: $white;
}

.fade-content {
    border: 19px solid $white;
}
