<div class="header-background"></div>
<header>
    <div class="wide-content-wrapper">
        <span><a href="/devChukV2/">Brian Chuk.</a></span>
        <span>
            <button id="menu-icon" class="hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </span>
        <span id="navigation">
            <ul>
                <li><a href="/devChukV2/about">About</a></li>
                <li><a href="/devChukV2/blog">Writing</a></li>
                <li><a href="/devChukV2/projects">Portfolio</a></li>
                <li><a href="/devChukV2/contact">Contact</a></li>
            </ul>
        </span>
    </div>
</header>
{% if include.hideBorderHack == null %}
    <span class="border-top"></span>
    <span class="border-left"></span>
    <span class="border-right"></span>
{% endif %}
