<meta charset="UTF-8">
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>{{ include.page_title }}</title>
{% assign image_preview = "http://brianch.uk" | append: include.image_preview %}
{% assign full_url = "http://brianch.uk" | append: include.url %}
<meta name="description" content="{{ include.page_description }}">
<meta itemprop="name" content="{{ include.page_title }}">
<meta itemprop="description" content="{{ include.page_description }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ include.page_title }}">
<meta name="twitter:description" content="{{ include.page_description }}">
<meta name="twitter:site" content="@BrianChuk">
<meta name="twitter:creator" content="@BrianChuk">
<meta name="twitter:image:src" content="{{ image_preview }}">
<meta name="og:title" content="{{ include.page_title }}">
<meta name="og:description" content="{{ include.page_description }}">
<meta name="og:image" content="{{ image_preview }}">
<meta name="og:url" content="{{ full_url }}">
<meta name="og:site_name" content="Brian Chuk">
<meta name="og:type" content="OG_TYPE">
<meta name="theme-color" content="{{ include.theme_color }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc5824">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
<link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font/build/web/hack-subset.css'>

<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = '98AYS';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
    ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');
</script>
