<div class="header-background"></div>
<header>
    <div class="wide-content-wrapper">
        <span><a href="/">Brian Chuk.</a></span>
        <span>
            <button id="menu-icon" class="hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </span>
        <span id="navigation">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Writing</a></li>
                <li><a href="/projects">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </span>
    </div>
</header>
<span class="border-top"></span>
<span class="border-left"></span>
<span class="border-right"></span>
