---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/res/css/about.css"/>
    </head>
    <body>
        {% include header.html hideBorderHack="true"%}
        <div class="fade-content">
            <section id="intro-section" class="light-gray-bg">
                <div class="short-desc">
                    <div class="wide-content-wrapper">
                        <div>
                            <div>Brian Chuk</div>
                            <div>Multidisciplinary software engineer.</div>
                            <div>moc.liam<span style="display:none">null</span>g@1kuhcved</div>
                        </div>
                    </div>
                </div>
                <div class="profile-photo">
                    <img src="/res/img/profile-cropped.jpg">
                </div>
            </section>
            <section class="white-bg">
                <div class="wide-content-wrapper">
                    <div>
                        <div>Hello there,</div>
                         <aside>LAST UPDATED &mdash; NOV 2017</aside>
                        <p>
                            My name is Brian Chuk. I'm a New York native, StuyCS alumnus, and hackNY 2015 Fellow. I'm in my last year at New York University where I study Computer Science.
                        </p>
                        <p>
                            I am primarily a full-stack developer with some experience in Android and hardware programming. I started teaching myself how to code by building drones and robots from complete scratch in high school. Since then, I've worked on several projects in C++, Javascript, Python, Java, and Ruby.
                        </p>
                        <p>
                            STUFF ABOUT MY INTERNSHIP AT B12
                        </p>
                        <p>
                            Using computational geometry and computer vision, I implemented new product features for Shaper as a software intern. I've worked for Syncano as a developer evangelist, and for Betterpath as a software intern. In Betterpath, I developed new pages in React and created an automated integration web tester in Selenium &amp; Ruby.
                        </p>
                        <p>
                            I am a hackathon veteran&mdash;you might see me on a weekend mentoring other hackers or giving talks/workshops.
                        </p>
                        <p>
                            STUFF ABOUT MY PATH. WHAT I'M LOOKING TOWARDS
                        </p>
                        <p>
                            I enjoy a good cup of matcha, bouldering, reading, skateboarding, &amp; woodworking. On warm nights, I like to head out to play on this dusty, old, outdoor pool table right by the Hudson River.
                        </p>
                    </div>
                </div>
            </section>
            <section class="dark-gray-bg">
                <div class="wide-content-wrapper">
                    <span class="action">DOWNLOAD MY RESUME</span>
                    <span>
                        <ul>
                            <li>
                                <a href="mailto:devchuk@gmail.com"><img src="/res/icons/mail.svg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://github.com/devChuk/"><img src="/res/icons/github.svg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.linkedin.com/in/bchuk/"><img src="/res/icons/linkedin.svg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://twitter.com/BrianChuk/"><img src="/res/icons/twitter.svg"></a>
                            </li>
                        </ul>
                    </span>
                </div>
            </section>
        </div>
        {% include body.html %}
    </body>
</html>