---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html
            page_title="About | Brian Chuk"
            page_description="I'm Brian Chuk, a software engineer born, raised, and residing in New York City."
            image_preview="/res/img/brian-chuk-preview.png"
            url=page.url
            theme_color="#000"
        %}
        <link rel="stylesheet" href="/res/css/about.css"/>
    </head>
    <body>
        {% include header.html hideBorderHack="true"%}
        <div class="fade-content">
            <section id="intro-section" class="light-gray-bg">
                <div class="short-desc">
                    <div class="wide-content-wrapper">
                        <div>
                            <div>Brian Chuk</div>
                            <div>Multidisciplinary software engineer.</div>
                            <div style="display: none;">moc.liam<span style="display:none">null</span>g@1kuhcved</div>
                        </div>
                    </div>
                </div>
                <div class="profile-photo">
                    <img src="/res/img/profile-cropped.jpg">
                </div>
            </section>
            <section class="white-bg">
                <div class="wide-content-wrapper">
                    <div>
                        <div>Hello there,</div>
                         <aside>LAST UPDATED &mdash; MAR 2019</aside>
                        <p>
                            My name is Brian Chuk. I'm a New York native, StuyCS alumnus, and hackNY 2015 Fellow. I graduated last December from New York University where I studied Computer Science.
                        </p>
                        <p>
                            I am primarily a full-stack developer with some experience in Android and hardware programming. I started teaching myself how to code by building drones and robots from complete scratch in high school. Since then, I've worked on several projects in C++, Javascript, Python, Java, Go, and Ruby.
                        </p>
                        <p>
                            In my last internship at Flatiron Health, I did a solo project where I built an internal tool where users would be able to view database schema, add metadata to them, and view relations between data tables via their foreign keys.
                        </p>
                        <p>
                            Before that, I took a gap year off school to travel around Asia and work as a remote freelance developer.
                        </p>
                        <p>
                            In my 2017 internship at B12, I designed & developed a version history system for a customer-facing website builder. It would save all changes to all websites every 10 minutes, and enable customers to revert to a previous version of their website at any point of time.
                        </p>
                        <p>
                            Using computational geometry and computer vision, I implemented new product features for Shaper as a software intern. I've worked for Syncano as a developer evangelist, and for Betterpath as a software intern. In Betterpath, I developed new pages in React and created an automated integration web tester in Selenium &amp; Ruby.
                        </p>
                        <p>
                            I am a hackathon veteran&mdash;you might see me on a weekend mentoring other hackers or giving talks/workshops.
                        </p>
                        <p>
                            I enjoy a good cup of matcha, bouldering, reading, skateboarding, &amp; woodworking. On warm nights, I like to head out to play on this dusty, old, outdoor pool table right by the Hudson River.
                        </p>
                    </div>
                </div>
            </section>
<!--             <section class="dark-gray-bg">
                <div class="wide-content-wrapper">
                    <span class="action"><a target="_blank" href="/res/misc/BrianChukResume.pdf">DOWNLOAD MY RESUMÉ</a></span>
                    <span>
                        <ul>
                            <li>
                                <a href="mailto:devchuk@gmail.com"><img src="/res/icons/mail.svg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://github.com/devChuk/"><img src="/res/icons/github.svg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.linkedin.com/in/bchuk/"><img src="/res/icons/linkedin.svg"></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://twitter.com/BrianChuk/"><img src="/res/icons/twitter.svg"></a>
                            </li>
                        </ul>
                    </span>
                </div>
            </section> -->
        </div>
        {% include body.html %}
    </body>
</html>
