---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html
            page_title="Blog | Brian Chuk"
            image_preview="/res/img/brian-chuk-preview.png"
            url=page.url
            theme_color="#000"
        %}
        <link rel="stylesheet" href="/res/css/blog.css"/>
    </head>
    <body>
        {% include header.html 
            hideBorderHack="true"
        %}
        <div class="page-title">
            <div class="wide-content-wrapper">
                <aside>NOTEBOOK</aside>
            </div>
        </div>
        <div class="fade-content">
            <section class="light-gray-bg">
                <div class="thin-content-wrapper">
                    <div id="blog-posts">
                        <ul>
                            {% for post in site.posts %}
                                <li>
                                    <a href="{{ post.url }}"><img src="/res/img/Flight.png"></a>
                                    <span>
                                        <a href="{{ post.url }}">{{ post.title }}</a>
                                        <div class="date">{{ post.date | date: "%m/%-d/%Y" }}</div>
                                        <div>{{ post.excerpt | strip_html }}</div>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="action" style="display:none;">
                            <span id="see-more">SEE MORE</span>
                            <span id="see-archive">SEE ARCHIVE</span>
                        </div>
                    </div>
                    <div id="side-info">
                        <div>
                            <div><span>About </span>The Notebook</div>
                            <div class="lyon">This is where I put things I write. It's usually about tech, programming, entrepreneurship, and personal updates&mdash;but any topic can live here. I like to tell stories.</div>
                        </div>
                        <div>
                            <div class="lyon">
                                Want updates of new essays and what I'm working on?
                                <br><br>
                                Join my private mailing list.
                            </div>
                            <div class="action"><a href="/newsletter">SIGN UP FOR UPDATES</a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="/res/js/see_more_posts.js"></script>
        {% include body.html %}
    </body>
</html>

<!-- 100 and 200 cutoff-->
