---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
         <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js"></script>
         <link rel="stylesheet" href="/res/css/index.css"/>
         <style>
            p {
                font-size: 2vw;
                line-height: 1.8em;
            }

            @media only screen and (max-width: 966px) {
                p {
                    font-size: 5vw;
                }
            }
         </style>
    </head>
    <body>
        {% include header.html %}
        <div class="fade-content" style="min-height:100vh;">
            <section class="transparent-bg">
                <div class="wide-content-wrapper">
                    <div id="full-name-title" style="margin-bottom:20vw;">It's nice to meet you.</div>
                    <p class="lyon" style="">This website has just started, and I haven't kicked off the email list yet; it doesn't make much sense to when I've barely written anything yet. Check back by January 31<sup>st</sup> to see it go live.</p>
                </div>
            </section>
        </div>
        {% include body.html %}
    </body>
</html>
