---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html
            page_title=page.title
            page_description=page.excerpt
            image_preview=page.thumbnail
            url=page.url
            theme_color="#000"
        %}
        <link rel="stylesheet" href="/res/css/blog_post.css"/>
        <title>{{ page.title }} | Brian Chuk</title>
    </head>
    <body>
        {% include header.html
            hideBorderHack="true"
            exitText="Close Article"
            exitLink="/blog"
        %}
        <div class="page-title">
            <div class="wide-content-wrapper">
                <aside>NOTEBOOK</aside>
            </div>
        </div>
        <div class="fade-content">
            <section class="white-bg">
                <div class="article-content-wrapper">
                    <div id="title">{{ page.title }}</div>
                    <div class="details date">
                        <span>{{ page.desc }}</span>
                        <span>{{ page.date | date: "%m/%-d/%Y" }}</span>
                    </div>
                    <div id="content">
                        {{ content }}
                    </div>
                    <div class="details date">
                        {% if page.previous.url %}
                            <span id="left"><a href="{{ page.previous.url }}">PREVIOUS POST</a></span>
                        {% endif %}

                        {% if page.next.url %}
                            <span id="next"><a href="{{ page.next.url }}">NEXT POST</a></span>
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="light-gray-bg">
                <div class="thin-content-wrapper">
                    <div class="section-title">READ MORE</div>
                    <div id="blog-posts"></div>
                    <div id="side-info">
                        <div>
                            <div class="lyon">
                                Want updates of new essays and what I'm working on?
                                <br><br>
                                Join my private mailing list.
                            </div>
                            <div class="action"><a href="/newsletter">SIGN UP FOR UPDATES</a></div>
                        </div>
                    </div>
                    <div id="mailing-list-cta" class="action"><a href="/newsletter">SIGN UP FOR THE NEWSLETTER</a></div>
                </div>
            </section>
        </div>
        <script src="/res/js/get_post_suggestions.min.js"></script>
        {% include body.html %}
    </body>
</html>
